.chat-container {
  display: grid;
  grid-template-rows: auto 120px;
  height: 100%;
  padding-bottom: 1.5rem;
}

.chat-box {
  grid-row: 1;
  margin: 0.625rem 0.375rem;
  overflow-y: scroll;
}

.sendMessage {
  grid-row: 2;
}

textarea {
  resize: none;
}

.textbox {
  border: none;
  border-radius: 10px;
  background-color: #41678a;
  color: #e0e0e0;
  padding: 5px;
  width: fit-content;
  max-width: 20rem;
  margin-bottom: 8px;
}