.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1.5rem;
  position: relative;
}

.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.message.sent {
  align-items: flex-end;
}

.message.received {
  align-items: flex-start;
}

.textbox {
  border: none;
  border-radius: 10px;
  background-color: #41678a;
  color: #e0e0e0;
  padding: 5px;
  width: fit-content;
  max-width: 20rem;
  margin-bottom: 8px;
}

.message.sent .textbox {
  background-color: #3a7b8b;
}

.message.received .textbox {
  background-color: #537b8b;
}

.sender-name {
  font-weight: bold;
  color: #050000;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
