.chat-container {
  display: grid;
  grid-template-rows: 85% 15%;
  height: 100%;
  position: relative;
}

.chat-box {
  grid-row: 1;
  overflow-y: auto;
  /* padding-bottom: 3rem; */
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
  padding: 0 10px;
}

.message.sent {
  align-items: flex-end;
}

.message.received {
  align-items: flex-start;
}

.textbox {
  border: none;
  background-color: #49739a;
  color: #e0e0e0;
  padding: 10px;
  width: fit-content;
  max-width: 20rem;
  margin-bottom: 8px;
}

.message.sent .textbox {
  background-color: #3776a5;
  border-radius: 20px 20px 5px 20px;
}

.message.received .textbox {
  background-color: #1b2734f3;
  border-radius: 20px 20px 20px 5px;
}

.sender-name {
  font-weight: bold;
  color: #e0e0e0;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
