.sendMessage {
  grid-row: 2;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

form {
  display: grid;
  grid-template-columns: 95% 5%;
  height: 100%;
  width: 100%;
}

button {
  grid-column: 2/3;
  background-color: #1b273480;
  color: #e0e0e0;
  border: 1px solid #e0e0e090;
  border-left: 1px solid #00000090;
  cursor: pointer;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

button i {
  font-size: 1.2rem;
}

.input-style {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  color: #e0e0e0;
  background-color: #1b273480;
  border: 1px solid #e0e0e090;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  resize: none;
}

.input-style:focus {
  outline: none !important;
  border: 1px solid #e0e0e0;
}

::placeholder {
  color: #e0e0e090;
}
