* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: rgb(5, 0, 0);
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar button {
  padding: 8px 16px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ff4a36;
}

.navbar button:active {
  transform: scale(0.98);
}

.nameLogo {
  display: flex;
  padding-top: 20px;
  justify-content: start;
}

.logo {
  height: 50px;
  width: auto;

  padding-right: 5px;
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.sidebar-container {
  width: 250px;
  background-color: #6a11cb;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  position: sticky;
  top: 60px;
}

.channel-tab {
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channel-tab:hover {
  background-color: #e0e0e0;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #92b3ee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: calc(100vw - 350px);
  overflow-y: auto;
}

.add-channel {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-channel:hover {
  background-color: #e0e0e0;
}

.channel-content {
  height: 100%;
}