* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2734;
  color: rgb(5, 0, 0);
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #0f1821;
}

.navbar button {
  padding: 8px 16px;
  color: #e0e0e0;
  background-color: #cd8548;
  /* background-color: #cd8548; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar button:hover {
  color: #0f1821;
  background-color: #f7b05b;
}

.navbar button:active {
  transform: scale(0.98);
}

.nameLogo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nameLogo span {
  color: #ffffff;
}

.logo {
  height: 50px;
  width: auto;
  padding-right: 5px;
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.sidebar-container {
  width: 250px;
  color: #e0e0e0;
  background-color: #1b2734;
  padding: 20px;
  height: 100%;
  position: sticky;
  top: 60px;
  border-right: 1px solid #0f1821;
}

.channels-container, .dms-container {
  height: 50%;
}

.sidebar {
  display: grid;
  grid-template-rows: 80% 56px;
  margin-bottom: 30px;
  max-height: 100%;
}

.sub-container {
  grid-row: 1;
  max-height: 100%;
  overflow-y: scroll;
}

.channel-tab {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channel-tab:hover {
  color: #000000;
  background-color: #f7b05b;
}

.content-container {
  flex-grow: 1;
  background-color: #3b4a5a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: calc(100vw - 350px);
  overflow-y: auto;
}

.add-tab {
  display: block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.5s;
}

.add-tab:hover {
  color: #f7b05b;
  text-decoration-color: #f7b05b;
}

.channel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  color: #e0e0e0;
  background-color: #1b2734f3;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: bold;
}

.channel-header button {
  background: none;
  color: #e0e0e0;
  border: none;
  scale: 1.5;
}

.channel-chat {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #3b4a5a;
}

.user-list-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b2734f3;
  color: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-body {
  max-height: 300px;
  overflow-y: auto;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-body li {
  padding: 5px 0;
  border-bottom: 1px solid #f0f0f0;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.ReactModal__Content {
  color: #e0e0e0;
  background-color: #1b2734f3;
}

.ReactModalPortal textarea {
  width: 100%;
  color: #0f1821;
  background-color: #ffffff;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

.ReactModalPortal textarea:focus {
  outline: none;
  border: 2px solid #3776a5;
}

.ReactModalPortal textarea::placeholder {
  color: #0f182180;
}

.pending-chat {
  display: flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100%;
}
