* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273d52;
  color: rgb(5, 0, 0);
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid gray;
}

.navbar button {
  padding: 8px 16px;
  background-color: #cd8548;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar button:hover {
  background-color: #deb088;
}

.navbar button:active {
  transform: scale(0.98);
}

.nameLogo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nameLogo span {
  color: #e0e0e0;
}

.logo {
  height: 50px;
  width: auto;
  padding-right: 5px;
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.sidebar-container {
  width: 250px;
  color: #e0e0e0;
  background-color: #273d52;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  position: sticky;
  top: 60px;
}

.sidebar {
  margin-bottom: 30px;
}

.channel-tab {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channel-tab:hover {
  background-color: #cd8548;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  background-color: #9eb8d0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: calc(100vw - 350px);
  overflow-y: auto;
}

.sidebar-container a {
  display: block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.5s;
}

.sidebar-container a:hover {
  color: #cd8548;
  text-decoration-color: #cd8548;
}

.channel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.channel-header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #f1f1f1;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  font-weight: bold;
}

.channel-header button {
  background-color: none;
  border: none;
  scale: 1.5;
}

.channel-chat {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.user-list-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-body {
  max-height: 300px;
  overflow-y: auto;
}

.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-body li {
  padding: 5px 0;
  border-bottom: 1px solid #f0f0f0;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
