body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #6a11cb, #92b3ee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
  padding-bottom: 20px;
}

.login-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 30px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  padding: 10px 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 14px;
  transition: border-color 0.3s;
  width: 100%;
  color: #333;
}

.login-container input::placeholder {
  color: #aaa;
}

.login-container input:focus {
  border-bottom-color: #6a11cb;
  outline: none;
}

.login-container button {
  padding: 10px;
  background-color: #6a11cb;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #2575fc;
}

.login-container button:active {
  transform: scale(0.98);
}

.forgot-password {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 15px;
}

.error-message {
  color: #ff4d4f;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 20px;
  }
}
