body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SCROLLBAR changes */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #779cbe70;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #779cbe;
}

::-webkit-scrollbar-track:hover {
  background: #e0e0e020;
}
/* SCROLLBAR changes end */